<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Administrador</title>
        <link rel="stylesheet" href="client/css/mostrar.css"/>
    </head>
    <body>

        <nav>
            <div class="perfil">

                <div>
                    <a href="">
                        <img src="imagenes/icono-usuario.png" alt="">
                    </a>
                </div>

                <div>
                    <a href="#"></a>
                </div>
            </div>

            <div>
                <a href="Cerrar" class="cerrar">Cerrar sesión</a>
            </div>
        </nav>

        <div class="contenedor">
            <h1>Usuarios</h1>
            <table class="tabla-usuarios">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Editar / Borrar</th>
                        <th>Ver mensajes</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.map(user => { %>
                    <tr>
                        
                        <td><%= user.id %></td>
                        <td><%= user.nombre %></td>
                        <td><%= user.email %></td>
                        <td><%= user.passw %></td>
                        <td> <a href="/updateUserForm/<%= user.id %>" class="editar">Editar</a> / <a href="/deleteUser/<%= user.id%>" class="borrar">Borrar</a> </td>
                        <td><a href="" class="mensaje">Mensajes</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <br>
            <div>
                <a href="agregarUsuarios.jsp" class="agregar">Agregar usuarios</a>
            </div>
            <br><br><br>
            <h1>Administradores</h1>
            <table class="tabla-administradores">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>email</th>
                        <th>Contraseña</th>
                        <th>Editar/ <a href="">Borrar</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Mostramos los datos de los usuarios -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="" class="borrar">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div>
                <a href="agregarAdministradores.jsp" class="agregar">Agregar administradores</a>
            </div>
            <br>
            <br>
        </div>  
    </body>
</html>
